
<%= stylesheet_link_tag 'home' %>

<div id="lp">
  <div id="header">
    <p>Local Research</p>
  </div>
  <div id="top"></div>
  <div id="main">
    <div class="m-sec"></div>
    <div class="m-sec"></div>
  </div>
  <div id="footer"></div>
</div>
