

<div id="lp">
  <div id="header">あああああああああああああああ</div>
  <div id="top"></div>
  <div id="main">
    <div class="m-sec"></div>
    <div class="m-sec"></div>
  </div>
  <div id="footer"></div>
</div>
